
#container{
width: 1200px;
margin: 0px auto;
text-align: left;
}
#header{
text-align: center;
}
#header2{
text-align: center;
font-family: Arial;
font-size: 15px;
background: black;
padding: 15px;
}
#header2 a {
display: inline-block;
background-color: green;
color: white;
padding: 10px 20px;
margin: 5px;
text-decoration: none;
}
h1{
font-family: Arial;
font-size: 45px;
font-weight: bold;
}
h2{
font-family: Arial;
font-size: 35px;
font-weight: bold;
h3{
font-family: Arial;
font-size: 25px;
font-weight: bold;
}